page-splash {
    .bg-color{
        background: #870226;
    }
    .loading-text{
        text-align: center;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 30px;
        margin: 80px;
        text-transform: uppercase;
        font-weight: bold;
    }
}
