<ion-header>
  <ion-navbar color="AppColor">
      <ion-grid>
          <ion-row>
              <ion-col col-4 style="background: #9e3f58;">
                    <ion-slides autoplay="3000" loop="true">
                        <ion-slide *ngFor="let slide of slideData">
                            <span style="color: #fff;font-size: 16px;">{{ slide.currency }} <ion-icon name="heart-outline" class="heart-symbol" *ngIf="slide.id==1"></ion-icon></span>
                        </ion-slide>
                    </ion-slides>  
              </ion-col>
              <ion-col col-8 class="button-div">
                    <button ion-button small color="AppHeader" class="more">
                        <ion-icon name="settings"></ion-icon>
                    </button>
              </ion-col>
          </ion-row>
      </ion-grid>     
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-9>
                <span class="latest">Latest payments:</span>
            </ion-col>
            <ion-col col-3 class="button-div">
                <button ion-button small color="AppHeader" class="more">More</button>
            </ion-col>
        </ion-row>
        <div class="amount-container">
            <ion-row>
                <ion-col col-3>
                    <span class="upper-text">Bal.</span>
                </ion-col>
                <ion-col col-5>
                    <span class="upper-text">Amount</span>
                </ion-col>
                <ion-col col-4>
                    <span class="upper-text">Type</span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3>
                    <span class="row-data">400.00 <ion-icon name="heart-outline" class="heart-symbol"></ion-icon></span>
                </ion-col>
                <ion-col col-5>
                    <span class="row-data">40.00 <ion-icon name="heart-outline" class="heart-symbol"></ion-icon> ($10.00)</span>
                </ion-col>
                <ion-col col-4>
                    <span class="row-data">Snacks</span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3>
                    <span class="row-data">400.00 <ion-icon name="heart-outline" class="heart-symbol"></ion-icon></span>
                </ion-col>
                <ion-col col-5>
                    <span class="row-data">40.00 <ion-icon name="heart-outline" class="heart-symbol"></ion-icon> ($10.00)</span>
                </ion-col>
                <ion-col col-4>
                    <span class="row-data">Snacks</span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3>
                    <span class="row-data">400.00 <ion-icon name="heart-outline" class="heart-symbol"></ion-icon></span>
                </ion-col>
                <ion-col col-5>
                    <span class="row-data">40.00 <ion-icon name="heart-outline" class="heart-symbol"></ion-icon> ($10.00)</span>
                </ion-col>
                <ion-col col-4>
                    <span class="row-data">Snacks</span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3>
                    <span class="row-data">400.00 <ion-icon name="heart-outline" class="heart-symbol"></ion-icon></span>
                </ion-col>
                <ion-col col-5>
                    <span class="row-data">40.00 <ion-icon name="heart-outline" class="heart-symbol"></ion-icon> ($10.00)</span>
                </ion-col>
                <ion-col col-4>
                    <span class="row-data">Snacks</span>
                </ion-col>
            </ion-row>
        </div>
        <div class="profile-container">
            <ion-row>
                <ion-col col-9>
                    <span class="latest">Latest donations:</span>
                </ion-col>
                <ion-col col-3 class="button-div">
                    <button ion-button small color="AppHeader" class="more">More</button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3>
                    <span class="upper-text">Date</span>
                </ion-col>
                <ion-col col-5>
                    <span class="upper-text">Amount</span>
                </ion-col>
                <ion-col col-4>
                    <span class="upper-text">Big <ion-icon name="heart-outline" class="heart-symbol"></ion-icon></span>
                </ion-col>
            </ion-row>
            <div class="inner-profile-container">
                <ion-row>
                    <ion-col col-3>
                        <span class="row-data">01/04</span>
                    </ion-col>
                    <ion-col col-5>
                        <span class="row-data">40.00 <ion-icon name="heart-outline" class="heart-symbol"></ion-icon> ($10.00)</span>
                    </ion-col>
                    <ion-col col-4>
                        <span class="row-data">Phil Kids</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-3>
                        <img class="person" src="assets/imgs/person.jpg" alt="person"/>
                    </ion-col>
                    <ion-col col-9>
                        <p class="play-para">
                            <ion-icon name="play" class="play-icon"></ion-icon>Play message
                        </p>                    
                    </ion-col>
                </ion-row>
            </div> 
            <div class="inner-profile-container">
                <ion-row>
                    <ion-col col-3>
                        <span class="row-data">01/04</span>
                    </ion-col>
                    <ion-col col-5>
                        <span class="row-data">40.00 <ion-icon name="heart-outline" class="heart-symbol"></ion-icon> ($10.00)</span>
                    </ion-col>
                    <ion-col col-4>
                        <span class="row-data">Phil Kids</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-3>
                        <img class="person" src="assets/imgs/person.jpg" alt="person"/>
                    </ion-col>
                    <ion-col col-9>
                        <p class="play-para">
                            <ion-icon name="play" class="play-icon"></ion-icon>Play message
                        </p>                    
                    </ion-col>
                </ion-row>
            </div>
            <div class="inner-profile-container">
                <ion-row>
                    <ion-col col-3>
                        <span class="row-data">01/04</span>
                    </ion-col>
                    <ion-col col-5>
                        <span class="row-data">40.00 <ion-icon name="heart-outline" class="heart-symbol"></ion-icon> ($10.00)</span>
                    </ion-col>
                    <ion-col col-4>
                        <span class="row-data">Phil Kids</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-3>
                        <img class="person" src="assets/imgs/person.jpg" alt="person"/>
                    </ion-col>
                    <ion-col col-9>
                        <p class="play-para">
                            <ion-icon name="play" class="play-icon"></ion-icon>Play message
                        </p>                    
                    </ion-col>
                </ion-row>
            </div>           
        </div>
    </ion-grid>
</ion-content>
