page-home {
    .latest{
        font-size: 18px;
        font-weight: bold;
    }
    .upper-text{
        font-size: 18px;
        font-weight: bold;
    }
    .button-div{
        text-align: right;
    }
    button.more{
        font-weight: bold;
    }
    .row-data{
        font-size: 16px;
        font-weight: 500;
    }
    .amount-container{
        border-bottom: 1px solid #870226;
        padding-bottom: 10px;
    }
    .profile-container{
        margin: 10px 0; 
    }
    .person{
        height: auto;
        width: 60px;
    }
    .play-para{
        font-size: 18px;
    }
    .play-icon{
        color: #870226;
        margin-right: 10px;
    }
    .inner-profile-container{
        padding-bottom: 5px;
        border-bottom: 1px solid #870226;
        padding-top: 5px;
    }
    .heart-symbol{
        transform: rotate(270deg);
        font-size: 13px;
        font-weight: bold;
    }
    table{
        width: 100%;
    }
    table th{
        text-align: left;
        padding: 5px;
        font-size: 16px;
    }
    table td{
        padding: 5px;
        font-size: 13px;
    }
    table td:nth-child(4) {
        padding: 1px;
    }
    .facebook-btn{
        float: right;
        margin: 0px!important;
    }
    .profile-btn{
        background-position: center!important;
        background-size: cover!important;
        float: right;
        margin: 0px!important;
    }
}
