<ion-header>
  <ion-navbar color="AppColor">
      <ion-grid>
          <ion-row>
              <ion-col col-7>
                <span style="color: #fff;font-size: 16px;">Balance</span>
                <ion-row>
                    <ion-col col-4 style="padding-left: 0px;padding-right: 0px;">
                        <span style="color: #fff;font-size: 14px;float:left">10.24K <ion-icon name="heart-outline" class="heart-symbol"></ion-icon></span>
                    </ion-col>
                    <ion-col col-8>
                        <ion-slides autoplay="3000" loop="true">
                            <ion-slide *ngFor="let slide of slideData">                            
                                <span style="color: #fff;font-size: 13px;float:left">({{ slide.currency }})</span>
                            </ion-slide>
                        </ion-slides> 
                    </ion-col>
                </ion-row>                                         
              </ion-col>
              <ion-col col-5 class="button-div">
                    <button ion-fab mini class="facebook-btn" *ngIf="!userData" (click)="loginWithFB()">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </button>                    
                    <button ion-fab mini class="profile-btn" *ngIf="userData" [style.backgroundImage]="'url('+ userData.picture +')'"></button>
                    <p class="fb-name" *ngIf="userData">{{ userData.first_name }}</p>
                    <!-- <button ion-button small color="AppHeader" class="more">
                        <ion-icon name="settings"></ion-icon>
                    </button> -->
              </ion-col>
          </ion-row>
      </ion-grid>     
  </ion-navbar>
</ion-header>

<ion-content style="padding:10px;">
    <ion-grid>
        <ion-row>
            <ion-col col-9>
                <span class="latest" style="background-color:rgba(135,2,38,0.17);padding:5px;">Latest payments:</span>
            </ion-col>
            <ion-col col-3 class="button-div">
                <button ion-button small color="AppHeader" class="more" style="font-size:10px;">More</button>
            </ion-col>
        </ion-row>
        <div class="amount-container">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Bal.</th>
                        <th>Amount</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let payment of latestPayments">
                        <td>{{payment.date}}</td>
                        <td><ion-icon name="heart-outline" class="heart-symbol"></ion-icon> {{payment.balance}}</td>
                        <td><ion-icon name="heart-outline" class="heart-symbol"></ion-icon> {{payment.heart_amount}} {{'($'+payment.us_amount+')'}}</td>
                        <td>{{payment.type}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="profile-container">
            <ion-row>
                <ion-col col-9>
                    <span class="latest" style="background-color:rgba(135,2,38,0.17);padding:5px;">Latest donations:</span>
                </ion-col>
                <ion-col col-3 class="button-div">
                    <button ion-button small color="AppHeader" class="more" style="font-size:10px;">More</button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3>
                    <span class="upper-text">Date</span>
                </ion-col>
                <ion-col col-5>
                    <span class="upper-text">Amount</span>
                </ion-col>
                <ion-col col-4>
                    <span class="upper-text">Big <ion-icon name="heart-outline" class="heart-symbol"></ion-icon></span>
                </ion-col>
            </ion-row>
            <div class="inner-profile-container" *ngFor="let donation of latestDonations">
                <ion-row>
                    <ion-col col-3>
                        <span class="row-data">{{donation.date}}</span>
                    </ion-col>
                    <ion-col col-5>
                        <span class="row-data" style="font-size: 14px;"><ion-icon name="heart-outline" class="heart-symbol"></ion-icon> {{donation.heart_amount}} {{'($'+donation.us_amount+')'}}</span>
                    </ion-col>
                    <ion-col col-4>
                        <span class="row-data">{{donation.ngo_name}}</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-3>
                        <img class="person" [src]="donation.ngo_img" [alt]="donation.ngo_name" (click)="getNgoId(donation.id)"/>
                    </ion-col>
                    <ion-col col-9>
                        <p class="play-para">
                            <ion-icon name="play" class="play-icon"></ion-icon>Play message
                        </p>                    
                    </ion-col>
                </ion-row>
            </div> 
        </div>
    </ion-grid>
</ion-content>
