page-home {
    .latest{
        font-size: 18px;
        font-weight: bold;
    }
    .upper-text{
        font-size: 18px;
        font-weight: bold;
    }
    .button-div{
        text-align: right;
    }
    button.more{
        font-weight: bold;
    }
    .row-data{
        font-size: 16px;
        font-weight: 500;
    }
    .amount-container{
        border-bottom: 1px solid #870226;
        padding-bottom: 10px;
    }
    .profile-container{
        margin: 10px 0; 
    }
    .person{
        height: 60px;
        width: 60px;
    }
    .play-para{
        font-size: 18px;
    }
    .play-icon{
        color: #ddd;
        margin-right: 10px;
    }
    .inner-profile-container{
        padding-bottom: 5px;
        border-bottom: 1px solid #870226;
        padding-top: 5px;
    }
    .heart-symbol{
        transform: rotate(270deg);
        font-size: 16px;
        font-weight: bold;
    }
}
